.form-section header {
  display: flex;
}

img[src$='svg'] {
  width: 30px;
  height: 30px;
}

img[src$='svg']:hover {
  cursor: pointer;
}

.arrow {
  transition: transform 0.2s;
}

.arrow.clicked {
  transform: rotate(180deg);
}
