#root {
  display: grid;
  grid-template-columns: 2fr 3fr;
  gap: 20px;
  padding: 20px;
  margin: 0 auto;
  max-width: 1800px;
}

img {
  width: 30px;
  height: 30px;
}

@media (max-width: 770px) {
  #root {
    grid-template-columns: 1fr;
  }
}
