html {
  box-sizing: border-box;
  font-size: 1.1rem;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body,
p,
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  background-color: #f3f4f6;
}
